<%- include('./partials/header') -%>
	<div id="app">
		<!-- this content will be displayed until React takes over, or if React somehow fails. !-->
		<%= content %>
	</div>
<%- include('./partials/footer') -%>