/*Palette: black, salmon: #f06543, blue: #3f51b5, white, gray: #E8E9EB); */

html {
	height: 100%;
	background-color: #607D8B;
}

body {
	background-color: transparent;
}

h1, h2, h3, h4 {
	font-family: 'Cardo';
	/*color: #FFFFFF;*/
	font-weight: bolder;
}

h1 {font-size: 5.063em;}
h2 {font-size: 3.375em;}
h3 {font-size: 2.25em;}
h4 {font-size: 1.5em;}

.banner h1{
  color: #FFFFFF;
}

.banner h1 strong {
	color: #F06543; 
}

.site-title {
	margin-left: .25em;
	margin-top: 10px;
  color: #FFFFFF;
}

header {
	overflow:hidden;
	background-color: #131313;
}

div.banner {
    background-size: cover;
    height: 375px;
}

.banner .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 125px;
	height: 375px;
}

form.searchBar {
	width: 48%;
	margin: 0 auto;
	margin-top: 1.5em;
}

form.searchBar button {
	background-color: #f06543;
	color: black;
}

form .form-group {
	padding: .5em 1em;
}

.form-group input {
	padding: .3em;
}

.upArrow {
  width: 0;
  border: 30px solid transparent;
  border-bottom: 30px solid rgb(96, 125, 139);
  margin-top: -4em;
  margin-left: 13em;
}

.upArrow .results {
  border-bottom: 30px solid white;
  margin-left: 9.5em;
}

.about {
  color: white;
  width: 75%;
  margin: 2.5em auto;
  line-height: 1.75;
}

.about p {
  font-size: 1.25em;
}

/*Spinner Styles, found on http://tobiasahlin.com/spinkit/*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.result-display {
    width: 75%;
    background-color: whitesmoke;
    margin: 2em auto;
    padding: 2em;
}